.DS_STORE
config/config.unique.php
logs/*
public/default/resources/scss/.sass-cache/*
App/smarty/templates_c/*
vendor/composer/installed.json
.htaccess
App/smarty/cache/*
tools/dbmigrator/logs/*
.idea